@model GeoMVC.Models.CarModel

@{
    ViewBag.Title = "AddCar";
}

<h2>AddCar</h2>

@using (Html.BeginForm("AddCarSave", "Car"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Made)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Made)
            @Html.ValidationMessageFor(model => model.Made)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ProductionTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductionTime)
            @Html.ValidationMessageFor(model => model.ProductionTime) 
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Condition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condition)
            @Html.ValidationMessageFor(model => model.Condition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfOwners)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfOwners)
            @Html.ValidationMessageFor(model => model.NumberOfOwners)
        </div>

        @Html.HiddenFor(model => model.LocationId)

        <p>
            <input type="submit" value="UpdateCarToSave" />
        </p>
        
    </fieldset>
}

@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
